*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  background-color: #F0E9C5;
}

body {
  font-family: 'Inter' sans-serif;
  height: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow-x: none;
  margin: 0;
}
