$values:
  "-3" -8px 0,
  "-2" -4px 0,
  "-1" -2px 0,
  "1" 2px 0,
  "2" 4px 2px,
  "3" 8px 4px,
  "4" 12px 8px,
  "5" 16px 12px,
  "6" 24px 16px,
  "7" 32px 24px,
  "8" 40px 32px,
  "9" 48px 40px,
  "10" 64px 48px,
  "11" 128px 64px,
  "12" 256px 128px,;

/*
  1. Helper
  2. Margin
  3. Padding
*/

/* 1. Helper */
.screen-container {
  width: 100vw;
  height: 100vh;
}

.absolute {
  position: absolute;
}

.naked-button {
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.naked-button:focus {
  outline: none;
}

.button-primary {
  background-color: $color-primary;
  border: 1px solid $color-border;
}

.debugger {
  border: red 1px solid;
}

.debugger-blue {
  border: blue 1px solid;
}

/* 2. Margin */
@each $identifier, $size, $smallSize in $values {
  .m-#{$identifier} {
    margin: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin: $smallSize;
      }
    }
  }
  .mt-#{$identifier} {
    margin-top: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin-top: $smallSize;
      }
    }
  }
  .mr-#{$identifier} {
    margin-right: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin-right: $smallSize;
      }
    }
  }
  .mb-#{$identifier} {
    margin-bottom: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin-bottom: $smallSize;
      }
    }
  }
  .ml-#{$identifier} {
    margin-left: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin-left: $smallSize;
      }
    }
  }
  .mx-#{$identifier} {
    margin-left: $size;
    margin-right: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin-left: $smallSize;
        margin-right: $smallSize;
      }
    }
  }
  .my-#{$identifier} {
    margin-top: $size;
    margin-bottom: $size;
    ~ &.responsive {
      @media screen and (max-width: $media-medium) {
        margin-top: $smallSize;
        margin-bottom: $smallSize;
      }
    }
  }
}

/* 3. Padding */
@each $identifier, $size in $values {
  .p-#{$identifier} {
    padding: $size;
  }
  .pt-#{$identifier} {
    padding-top: $size;
  }
  .pr-#{$identifier} {
    padding-right: $size;
  }
  .pb-#{$identifier} {
    padding-bottom: $size;
  }
  .pl-#{$identifier} {
    padding-left: $size;
  }
  .px-#{$identifier} {
    padding-left: $size;
    padding-right: $size;
  }
  .py-#{$identifier} {
    padding-top: $size;
    padding-bottom: $size;
  }
}
